{% extends "base.html" %}

{% block content %}
    <h1>履歴</h1>
    <ul>
    {% for history in problem_history %}
    <li>
        問題ID: {{ history.submission_id }} 
        <a href="{{ url_for('presentation.show_upload', user_id=history.user_id, submission_id=history.submission_id) }}">[表示]</a>
        
        <form action="{{ url_for('presentation.reproduce_problem', submission_id=history.submission_id) }}" method="POST" style="display:inline;">
            <button type="submit">この問題に再挑戦する</button>
        </form>
    </li>
    {% endfor %}
    </ul>
{% endblock content %}