{% block header %}    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>プログラミングお題出してくれるくん</title>
    </head>
{% endblock header %}
<body>
    {% if current_user.is_authenticated %}
        <nav>
            <div>
                <a href="{{ url_for('presentation.presentation') }}">プログラミングお題出してくれるくん</a>
                <span></span>
                </button>

                <div>
                    <ul>
                        <li>
                            <a class="nav-link" href="{{ url_for('presentation.show_history') }}">履歴</a>
                        </li>
                        <li>
                            {% if current_user.is_admin %}
                                <a class="nav-link" href="{{ url_for('auth.show_user_list') }}">ユーザ情報一覧</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div>
                    <span>{{ current_user.user_name }}さん、ログイン中</span>
                    <a href="{{ url_for('auth.logout') }}">ログアウト</a>
                </div>
            </div>
        </nav>
    {% endif %}
    <div>
        {% block content %}{% endblock content %}
        <a href="{{ url_for('presentation.presentation') }}">戻る</a>
    </div>

</body>
</html>