{% extends "base.html" %}

{% block content %}
    <h1>ユーザ情報を変更</h1>
    {% from "_formhelpers.html" import render_field %}
    <form action="{{ url_for('auth.update', user_id=edit_id) }}" method="post" >
        {{ form.hidden_tag() }}

        {{ render_field(form.user_id, readonly=true) }}
        {{ render_field(form.user_name) }}
        {{ render_field(form.password) }}
        {{ render_field(form.email) }}

        {{ form.submit }}
    </form>
    <a href="{{ url_for('presentation.presentation') }}">戻る</a>
{% endblock content %}